.topnav {
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media not all and (min-width: theme('screens.sm')) {
      @apply px-10 py-6;
   }

   button {
      background: none;
      border: none;

      // Greater than or equal to 'sm'
      @media (min-width: theme('screens.sm')) {
         display: none;
      }
   }

   // When the menu is open
   &__open[aria-expanded='true'] {
      + .topnav__menu {
         translate: 0;
      }
   }

   &__close {
      display: block;
      margin-inline-start: auto;
      margin-block-end: 3rem;

      img {
         width: 28px;
      }
   }

   &__menu {
      // Less than or equal to 'sm'
      @media not all and (min-width: theme('screens.sm')) {
         @apply bg-accent-2 px-10 py-6;
         translate: 100vw 0;
         transition: translate 0.5s ease-in-out;

         width: 40%;
         inset: 0;

         margin-left: auto;
         position: fixed;
      }

      // Larger screens
      @media (min-width: theme('screens.sm')) {
         position: static;
         width: auto;
         background: none;

         .topnav__close {
            display: none;
         }
      }
   }

   // Links wrapper
   &__links {
      margin: 0;
      padding: 0;
      gap: 2rem;

      display: flex;
      align-items: center;

      // Less than or equal to 'sm'
      @media not all and (min-width: theme('screens.sm')) {
         flex-direction: column;
         align-items: end;
         gap: 2rem 0;
      }

      @media (min-width: theme('screens.sm')) {
         position: relative;
         z-index: 1;
      }
   }

   &__item {
      list-style-type: none;
   }

   &__link {
      @apply font-montserrat leading-normal text-lg text-slate-gray;

      @media not all and (min-width: theme('screens.sm')) {
         @apply text-white;
         font-size: 1.5rem;
         padding: 0.5rem;
      }
   }

   &__link:hover {
      @apply text-accent-2;

      @media not all and (min-width: theme('screens.sm')) {
         @apply text-white underline;
      }
   }
}

.blur-backdrop {
   position: fixed;
   inset: 0;
   z-index: 30;
   backdrop-filter: blur(5px);
   background-color: rgba(255, 255, 255, 0.3);
   opacity: 0;
   transition: opacity 0.3s ease;

   &.active {
      opacity: 1;
   }
}
